<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thetechsolutions.whodouconsumer">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.vanguardmatrix.engine.android.Application"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.MyAppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.HomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.vanguardmatrix.engine.android.LoadActivity"
            android:theme="@style/Theme.NoTitleBar" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Signup.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Signup.activities.ContactSyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.Signup.activities.IntroMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.Signup.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Home.activities.HomeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Chat.activities.ChatMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Pay.activities.PayMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Schedule.activities.ScheduleMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.Pay.activities.PayDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.Schedule.activities.ScheduleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.AppHelpers.Contacts.activities.ContactsMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Home.activities.HomeFriendProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />

        <activity
            android:name="com.thetechsolutions.whodouconsumer.Home.activities.HomeCreateNewContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Settings.activities.SettingsMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Home.activities.HomeMainSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.thetechsolutions.whodouconsumer.Chat.activities.ChatFromMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"></activity>


        <receiver
            android:name="com.thetechsolutions.whodouconsumer.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.vanguardmatrix.zaair" />
            </intent-filter>
        </receiver>

        <service android:name="com.thetechsolutions.whodouconsumer.GcmIntentService" />

        <!--<meta-data android:name="com.parse.push.notification_icon" />-->

        <activity
            android:name="org.vanguardmatrix.engine.utils.NotificationView"
            android:label="Details of notification"
            android:parentActivityName="com.thetechsolutions.whodouconsumer.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thetechsolutions.whodouconsumer.HomeScreenActivity" />
        </activity>

    </application>

</manifest>
